<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JunkCleaner"
        tools:targetApi="31"
        tools:replace="android:allowBackup">

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource"/>

        <activity
            android:name=".Activity.ScreenCheckActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <meta-data
            android:name="com.trustlook.ApiKey"
            android:value="3f8dceb476d4ab2ad2f96ed224984aad077110c68e8e4711939bba43" />

        <meta-data
            android:name="com.trustlook.cleansdk.ApiKey"
            android:value="3f8dceb476d4ab2ad2f96ed224984aad077110c68e8e4711939bba43" />


        <receiver
            android:name=".service.InstallReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.BackgourndScanService"
            android:exported="false"></service>

        <activity
            android:name=".Activity.FileBigActivity"
            android:exported="false"
            android:theme="@style/Theme.JunkCleaner" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.PrivacyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner" />
        <activity
            android:name=".Activity.TermsAndConditionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mobcleaner.mcapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activity.BatteryUsageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner" />
        <activity
            android:name=".Activity.NetworkTrafficActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner" />
        <activity
            android:name=".Activity.BatteryInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner" />
        <activity
            android:name=".Activity.DeviceStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner" />
        <activity
            android:name=".Activity.AppDiaryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner" />
        <activity
            android:name=".Activity.AppManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner" />
        <activity
            android:name=".Activity.GameAssistantActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner" />
        <activity
            android:name=".Activity.ProcessManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner" />
        <activity
            android:name=".Activity.AntivirusActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JunkCleaner">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>